.worker-name {
  margin: auto;
  width: 500px;
  color: RGBA(110, 0, 255, 1.00);
  border-radius: 4px;
  border: 2px solid RGBA(110, 0, 255, 1.00);
}

.worker-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
}

.worker-actions .btn {
  width: 150px;
  height: 40px;
}

.name-detail {
  color: RGBA(110, 0, 255, 1.00);
}

.calendar-title {
  margin: 40px 0 30px 0;
}
