<div id="navbar">
  <span id="logo"><%= link_to "Shift Manager", root_path %></span>
  <div id="menu">
    <%= link_to "Planning", shifts_path %>
    <span> | </span>
    <%= link_to "Workers", workers_path %>
  </div>
</div>
